@import '../../../styles/core/variables.scss';

.contact-profile {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;

  &__detail-list {
    list-style: none;
  }

  &__detail-list-item {
    margin-bottom: 7px;
  }

  &__title {
    font-weight: $font-weight-bold;
  }

  &__avatar {
    display: none;
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: $media-md) {
  .contact-profile {
    &__avatar {
      display: block;
    }

    &__detail-list {
      margin-left: 20px;
    }
  }
}




