@import '../../../styles/core/variables.scss';

.filter-type-selector {
  display: none;
  margin-top: 25px;

  &__label {
    margin-right: 15px;
    cursor: pointer;
  }

  &__radio-btn {
    margin-left: 5px;
  }
}

@media screen and (min-width: $media-md) {
  .filter-type-selector {
    display: block;
  }
}
